name: Deploy Environment

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Which environment to deploy?'
        required: true
        type: choice
        options:
          - tst
          - stg
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./environments/${{ github.event.inputs.environment }}

    steps:
      - name: Check out the repository code
        uses: actions/checkout@v3

      - name: Log in to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      #
      # --- ADD THIS NEW STEP ---
      # This deletes any old, broken cache before initializing
      - name: Clear local Terraform cache
        run: |
          echo "Removing .terraform directory..."
          rm -rf .terraform
      
      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -var="vm_admin_password=${{ secrets.VM_ADMIN_PASSWORD }}" -out=tfplan

      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
